@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
a, a:link, a:visited{color:#FFF;text-decoration:none;}
a:hover{color:#ff7031;}
body{background-color:#25262a;font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}

.HS10, .HS15{overflow:hidden;clear:both;}
.HS10{height:10px;}
.HS15{height:15px;}
.Hidden{display:none;}
.Clearer{display:block;clear:both;font-size:1px;line-height:1px;margin:0;padding:0;}
.FlLeft{float:left;}
.FlRight{float:right;}
.bottom{ width:960px; height:210px; margin-top:30px;}
.bottom_img{ width:150px; height:200px; float:left; margin-left:50px; margin-top:5px;}
.bottom_font{ width:220px; height:210px; float:left;}
.bottom_font li{color:#CCC; margin-left:10px; margin-top:7px;}
.bottom_font li span{color:#F90; font-weight:bold;}
.li1{ padding-top:33px;}
.span1{font-size:18px; }
/*幻灯片区域背景*/
.MainBg{background-color:#16171b;width:960px;margin:0 auto;}
/*标题和页码*/
.neck{ width:960px; height:120px; margin:0 auto; margin-bottom:30px; margin-top:20px; }
.titles{ width:960px; height:40px; background:#16171b; font:bold 20px 微软雅黑; color:#666; margin:0 auto; margin-bottom:10px;  line-height:40px;  }
.a2{ color:#FFF; margin-left:20px; font-weight:bold; }
.titles a:hover{ color:#F90;}
.titles span{ margin:0 0 0 670px; font:bold 14px 微软雅黑; }
.titles span a{color:#999;}
.Title{color:#EEE;padding:5px 20px 0 20px;text-align:center;line-height:40px;height:40px;}
.Title h1{display:inline; color:#F90; font-weight:bold;}
.Title h1:hover{color:#FC0;}
.Title .Counter{color:#666;}
.Title .CounterCurrent{color:#C00;font-size:20px;font-weight:bold;}
/*灰色分隔线*/
.SpaceLine{border-bottom:1px solid #333;height:1px;font-size:1px;}
/*大图展示区域*/
.OriginalPicBorder{padding:15px 15px 0 15px;}
#OriginalPic{width:930px;overflow:hidden;position:relative;font-size:12px;}
#OriginalPic img{display:block;margin:0 auto;}
/*鼠标手势*/
.CursorL{position:absolute;z-index:999;width:50%;height:600px;color:#FFF;left:120px;cursor:url(q_images/ArrowL.jpg), auto;}
.CursorR{position:absolute;z-index:999;width:50%;height:600px;color:#FFF;right:0;cursor:url(q_images/ArrowR.jpg), auto;}
/*小图预览和滑动*/
.SliderPicBorder{width:800px;height:600px;overflow:hidden;}
.Summary{line-height:20px;display:block;width:100px;margin-right:10px;color:#999;overflow:hidden;background-color:#333;padding:10px;}
.More{text-align:center;color:#666;line-height:40px;height:40px;font-size:12px;display:block;}        
.ThumbPicBorder {width:940px;margin:0 auto;}
#ThumbPic img{border:3px solid #666;cursor:pointer;background-color:#666;margin:0 4px;width:130px;height:80px;display:block;}
#ThumbPic img.active{border:3px solid #FF9900;}

#btnPrev:hover{border:2px solid #F90;}
#btnNext:hover{border:2px solid #F90;}